button {
  height: 8lvw;
  width: 8lvw;
  cursor: pointer;
  margin-right: 3lvw;
  margin-left: 3lvw;
}

#copyButtonOne {
  background-color: rgb(240, 225, 252);
  color:rgb(0, 136, 255);

  border: 12px;
  border-width: 4px;
  border-color: rgba(110, 97, 230, 0.671);;
  border-style: solid;
}

#practiceButton {
  background-color: orchid;
  color:aliceblue;
  border:  none;
  border-radius: 100px;
}

#copyButtonTwo {
  background-color:  rgb(109, 75, 233);
  color:  white ;
  border-radius: 2lvw;
  border: none;
  font-weight: bold;
}
